
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*

I am too lazy to write numbers. I can write words and much faster than numbers. It is also much cleaner to me.

I can assure you. This is so much dumber than write the number myself. But who cares this shit is my code :>

*/

:root{

  --margin: 20px;
  --padding: 20px;
  --block: inline-block;
  --maxW: 100%;
  --maxH: 100%;
  --default-padding: 0;
  --default-margin: 0;

}

*
{

  font-family: "Nunito Sans", sans-serif;
  font-style: normal;

  max-width: var(--maxW);
  max-height: var(--maxH);
  padding: var(--default-padding);
  margin: var(--default-margin);

  justify-items: center; 

  width: 100%;

  overflow-x: hidden;

}

body 
{

  display: grid;
  grid-template-areas: 
  "nav"
  "landing"
  "studio"
  "service"
  "pricing"
  "massage"
  "qa"
  "footer";

}

/* I ended up using normal numbers instead of bunch of words......... */

/* ----====Nav====---- */

nav
{

  grid-area: nav;
  height: 100px;
  width: 100%;

  background-color: lightblue;

}

/* ----========---- */



/* ----====Hello-World====---- */

.da-big-daddy
{

  grid-area: landing;
  max-height: var(--maxH);

  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows 20px ;
  grid-template-areas: 
  "right hello daddy-text left"
  "right book daddy-text left";
  gap: 0rem;

  background-image: url(" image/image1.JPEG ");
  background-position: center ;
  background-repeat: no-repeat;
  background-size: 80% 100% ;
  background-color: #cccccc ;

  height: 1200px;

}

.big-muscles-right
{
  grid-area: left;
}
.big-muscles-left
{
  grid-area: right;
}


.meow-da-image
{

  padding: 1%;
  margin: 1%;


  align-content: center;

  width: 80%;
  height: auto;


}

.meow-da-landing 
{


  grid-area: hello ;

  background-color: rgba(150, 150, 150, 0.0);

  width: 60%;

  padding: 20px;
  margin: 20px;

  color: white;

  text-align: center;

  font-size: 40px;

  display: flex;
  align-items: center; 
  justify-content: center;

}

.meow-da-text
{

  grid-area: daddy-text ;

  color: white;

  height: 700px;
  width: 60%;

  padding: 20px;
  margin: 20px;

  background-color: rgba(150, 150, 150, 0.0);

  font-size: 30px;

  display: inline-flex;
  align-items: center;
  justify-content: center;


}

.meow-da-book
{

  grid-area: book ;

  background-color: rgba(150, 150, 150, 0.0);

  align-items: center ;

  width: 100%;

  padding: 20px;
  margin: 20px;

  text-align: center;

}

.meow-da-book a
{

  text-align: center;

  text-decoration: none;

  color: white;
  background-color: lightblue;

  font-size: 40px;
  
  border-radius: 20px;

  padding: 20px;

}

.meow-da-book a:hover
{

  text-decoration: none;
  color: rgba(255, 255, 255, 0.53);

}

/* ----========---- */



/* ----====Studio====---- */

/*

Don't you dare say anything about left and right being on the wrong side. I can't even walk straight;

*/

.Studio
{

  grid-area: studio;

  background-color: #627482;
  display: grid;
  text-align: center;

  grid-template-areas: 
  " right image s-text left ";
  grid-template-columns: 10% 40% 40% 10%;
  gap: 0rem;


}

.studio-image
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: image;

  background-color: white;

  padding: 20px;
  margin: 20px;

}

.studio-text
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: s-text;

  background-color: white;

  padding: 20px;
  margin: 20px;

}

.studio-left
{

  grid-area: left;

}

.studio-right
{

  grid-area: right;

}

/* ----========---- */



/* ----====Service====---- */

.Service
{

  display: grid;
  grid-template-areas: 
  " right s-text image left ";
  grid-template-columns: 10% 40% 40% 10%;
  gap: 0rem;

  background-color: lightgrey;

}

.service-image
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: image;

  background-color: white;

  padding: 20px;
  margin: 20px;

}

.service-text
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: s-text;

  background-color: white;

  padding: 20px;
  margin: 20px;

}

.service-left
{

  grid-area: left;

}

.service-right
{

  grid-area: left;

}

/* ----========---- */



/* ----====Pricing====---- */

.Pricing
{

  display: grid;
  grid-template-areas: 
  " right image s-text left ";
  grid-template-columns: 10% 40% 40% 10%;
  gap: 0rem;

  background-color: lightpink;

}

.pricing-image
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: image;

  background-color: white;

  padding: 20px;
  margin: 20px;

}

.pricing-text
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: s-text;

  background-color: white;

  padding: 20px;
  margin: 20px;

}

.pricing-left
{

  grid-area: left;

}

.pricing-right
{

  grid-area: left;

}

/* ----========---- */



/* ----====Massage====---- */

.Massages
{

  display: grid;
  grid-template-areas: 
  " right s-text image left ";
  grid-template-columns: 10% 40% 40% 10%;
  gap: 0rem;

  background-color: lightgreen;

}

.massages-image
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: image;

  background-color: white;

  padding: 20px;
  margin: 20px;

}

.massages-text
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: s-text;

  background-color: white;

  padding: 20px;
  margin: 20px;

}

.massages-left
{

  grid-area: left;

}

.massages-right
{

  grid-area: left;

}

/* ----========---- */



/* ----====Q-A====---- */

.Q-A
{

  display: grid;
  grid-template-areas: 
  " right image s-text left ";
  grid-template-columns: 10% 40% 40% 10%;
  gap: 0rem;

  background-color: lightgrey;

}

.qa-image
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: image;

  background-color: white;

  padding: 20px;
  margin: 20px;

}

.qa-text
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: s-text;

  background-color: white;

  padding: 20px;
  margin: 20px;

}

.qa-left
{

  grid-area: left;

}

.qa-right
{

  grid-area: left;

}


/* ----========---- */



/* ----====Footer====---- */

footer
{

  background-color: lightblue;
  height: 100px;

}

/* ----========---- */












