
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*

I am too lazy to write numbers. I can write words and much faster than numbers. It is also much cleaner to me.

I can assure you. This is so much dumber than write the number myself. But who cares this shit is my code :>

*/

:root{

  --margin: 20px;
  --padding: 20px;
  --block: inline-block;
  --maxW: 100%;
  --maxH: 100%;
  --default-padding: 0;
  --default-margin: 0;
  --back-text: rgba(150, 150, 150, 0.4);
  --back-image: #b1bab6;

}

*
{

  font-family: "Nunito Sans", sans-serif;
  font-style: normal;

  max-width: var(--maxW);
  max-height: var(--maxH);
  padding: var(--default-padding);
  margin: var(--default-margin);

  justify-items: center; 

  width: var(--maxW) ; 

  overflow-x: hidden;

  border-radius: 10px ;

}

body 
{

  display: grid;
  grid-template-areas: 
  "nav"
  "landing"
  "studio"
  "service"
  "pricing"
  "massage"
  "qa"
  "contact"
  "footer";

}

/* I ended up using normal numbers instead of bunch of words......... */

/* ----====Nav====---- */

nav
{

  grid-area: nav;
  height: 80px;
  width: 100%;

  background-color: #B1BAB6;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  " logo links "
  ;

}

nav a 
{

  color: rgba(50, 45, 50, 1); 
  text-decoration: none;
  font-size: 20px;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba( 249, 245, 249, 1);
  padding: 10px;
  margin: 10px;

  border-radius: 20px;

}

nav a:hover
{

  color: rgba(145, 150, 149, 1);

}

.navbar
{

  grid-area: links;

  display: inline-flex;

}

.nav-logo
{

  grid-area: logo;

}


/* ----========---- */



/* ----====Hello-World====---- */

.da-big-daddy
{

  grid-area: landing;
  max-height: var(--maxH);

  display: grid;
  grid-template-columns: 5% 40% 50% 5%;
  grid-template-rows: auto ;
  grid-template-areas: 
  "right hello daddy-text left"
  "right book daddy-text left";
  gap: 0rem;
  margin: 20px;
  padding: 20px;

}

.meow-da-image
{

  border-radius: 28px;

  width: 100%;
  height: auto;

  grid-area: right / right / left / left;

  padding: 0;
  margin: 0;

}

.meow-da-landing 
{

  grid-area: hello ;

  background-color: rgba(150, 150, 150, 0.0);

  width: 60%;

  padding: 20px;
  margin: 20px;

  color: white;

  text-align: center;

  font-size: 40px;

  display: flex;
  align-items: center; 
  justify-content: center;

}

.meow-da-text
{

  grid-area: daddy-text ;

  color: black;

  height: auto;
  width: 80%;

  padding: 5%;
  margin: 5%;

  background-color: rgba(250, 250, 250, 1);

  font-size: 30px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;

}

.meow-da-book
{

  grid-area: book ;

  background-color: rgba(150, 150, 150, 0.0);

  align-items: center ;

  width: 100%;

  padding: 20px;
  margin: 20px;

  text-align: center;

}

.meow-da-book a
{

  text-align: center;

  text-decoration: none;

  color: white;
  background-color: lightblue;

  font-size: 40px;
  
  border-radius: 20px;

  padding: 20px;

}

.meow-da-book a:hover
{

  text-decoration: none;
  color: rgba(255, 255, 255, 0.53);

}

.big-muscles-right
{
  grid-area: left;
}
.big-muscles-left
{
  grid-area: right;
}


/* ----========---- */



/* ----====Studio====---- */

/*

Don't you dare say anything about left and right being on the wrong side. I can't even walk straight;

*/

.Studio
{

  grid-area: studio;

  display: grid;
  text-align: center;

  grid-template-areas: 
  " right image s-text left ";
  grid-template-columns: 10% 20% 60% 10%;
  gap: 0rem;


}

.studio-image
{

  width: 80%;
  height: 300px;

  grid-area: image;

  background-color: var(--back-image) ;

  display: flex; 
  justify-content: center;
  align-items: center;

  padding: 20px;
  margin: 20px;

}

.studio-text
{

  width: 80%;
  height: auto;

  text-align: center;
  grid-area: s-text;

  background-color: var(--back-text);

  padding: 20px;
  margin: 20px;

  display: flex; 
  justify-content: center;
  align-items: center;

}

.studio-left
{

  grid-area: left;

}

.studio-right
{

  grid-area: right;

}

/* ----========---- */



/* ----====Service====---- */

.Service
{

  grid-area: service;

  display: grid;
  grid-template-areas: 
  " right s-text image left ";
  grid-template-columns: 10% 60% 20% 10%;
  gap: 0rem;

}

.service-image
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: image;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--back-image) ;

  padding: 20px;
  margin: 20px;

}

.service-text
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: s-text;

  background-color: var(--back-text);

  padding: 20px;
  margin: 20px;

  display: flex; 
  justify-content: center;
  align-items: center;

}

.service-left
{

  grid-area: left;

}

.service-right
{

  grid-area: right;

}

/* ----========---- */



/* ----====Pricing====---- */

.Pricing
{

  display: grid;
  grid-template-areas: 
  " right image s-text left ";
  grid-template-columns: 10% 30% 50% 10%;
  gap: 0rem;


}

.pricing-image
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: image;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--back-image) ;

  padding: 20px;
  margin: 20px;

}

.pricing-text
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: s-text;

  background-color: var(--back-text);

  padding: 20px;
  margin: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.pricing-text p
{

  display: flex;
  justify-content: center;

}

.pricing-left
{

  grid-area: left;

}

.pricing-right
{

  grid-area: right;

}

/* ----========---- */



/* ----====Massage====---- */

.Massages
{
  grid-area: massage;

  display: grid;
  grid-template-areas: 
  " right s-text image left ";
  grid-template-columns: 10% 65% 15% 10%;
  gap: 0rem;


}

.massages-image
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: image;

  background-color: var(--back-image) ;

  padding: 20px;
  margin: 20px;

  display: flex; 
  justify-content: center;
  align-items: center;

}

.massages-text
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: s-text;

  background-color: var(--back-text);

  padding: 20px;
  margin: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.massages-left
{

  grid-area: left;

}

.massages-right
{

  grid-area: right;

}

/* ----========---- */



/* ----====Q-A====---- */

.Q-A
{

  grid-area: qa;

  display: grid;
  grid-template-areas: 
  " right image s-text left ";
  grid-template-columns: 10% 20% 60% 10%;
  gap: 0rem;


}

.qa-image
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: image;

  background-color: #b1bab6 ;

  padding: 20px;
  margin: 20px;

  display: flex; 
  justify-content: center;
  align-items: center;

}

.qa-text
{

  width: 80%;
  height: 300px;

  text-align: center;
  grid-area: s-text;

  background-color: var(--back-text);

  padding: 20px;
  margin: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.qa-left
{

  grid-area: left;

}

.qa-right
{

  grid-area: right;

}


/* ----========---- */


/* I am about to cry. This so boring.  */


/* ----====Contact Info====---- */

.Contacts
{

  display: grid;
  grid-template-areas: 
  " right image s-text left ";
  grid-template-columns: 5% 35% 55% 5%;
  gap: 0rem;

}

.contact-image
{

  background-image: url("assets/image/image5.JPEG");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(249, 249, 250, 0);
  grid-area: image;

  width: 100%;

}

.contact-info
{

  width: 80%;
  height: 300px;

  grid-area: s-text;

  background-color: var(--back-image);

  padding: 20px;
  margin: 20px;

  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto;
  grid-template-areas: 
  " header c-to "
  " opening opening "
  ;

}

.contact-to
{

  grid-area: c-to;

  display: flex;
  align-items: right;
  justify-content: right;

}

.opening
{

  grid-area: opening;

}

.contact-info p 
{

  text-align: left;
  font-size: 20px;

}

.contact-info h2
{

  grid-area: header;

}

.contact-to a
{

  text-decoration: none;
  color: black;
  
  font-size: 20px;

  text-align: center;

}


.contact-left
{

  grid-area: left;

}

.contact-right
{

  grid-area: right;

}

/* ----========---- */


/* ----====Footer====---- */

footer
{

  background-color: rgba(229, 229, 229, 0.4 );
  height: 100px;

}

/* ----========---- */


/* ----====Mobile View====---- */

@media (max-width: 768px)
{

  .Studio, .Pricing, .Service, .Massages, .Q-A, .Contacts
  {

    grid-template-columns: 1fr;
    grid-template-areas: 
    "image"
    "s-text"
    ;

  }

  .studio-image, .service-image, .pricing-image, .massages-image, .qa-image
  {

    height: 30%;

  }

  .studio-text, .service-text, .pricing-text, .massages-text, .qa-text, .contact-info
  {

    height: auto;

  }

  .da-big-daddy
  {

    grid-area: landing;
    max-height: var(--maxH);

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto ;
    grid-template-areas: 
    " hello "
    " book "
    " daddy-text ";
    gap: 0rem;
    margin: 20px;
    padding: 20px;

  }


  .meow-da-image
  {

    display: none;

  }

  .meow-da-landing 
  {

    color: black;

  }

  nav
  {

    grid-template-columns: 20% 80%;

  }
  
  nav a
  {

    font-size: 20px;
    padding: 0.5%;
    margin: 0.5%;

  }

}

/* ----========---- */


